<div class="bandeauSuperieur d-flex justify-content-center">
  <span class="mx-4 uppercase font-bold">Informations sur <%= @tuteur_universitaire.nom %> <%= @tuteur_universitaire.prenom %></span>
</div>

<div class="d-flex justify-content-end mb-4 mr-4">
  <%= link_to "Revenir à la liste des tuteurs", tuteur_universitaires_path, class: "btn btn-outline-secondary" %>
</div>

<div class="container">
  <div class="row mb-3">
    <div class="col">
      <label>Alias :</label> <%= @tuteur_universitaire.alias %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <label>Adresse Email :</label> <%= @tuteur_universitaire.email %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <label>Fonction :</label> <%= @tuteur_universitaire.fonction %>
    </div>
  </div>


  <div class="row mb-3">
    <div class="col">
      <label>Lieu d'Activité :</label> <%= @tuteur_universitaire.localisation %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <label>Staut de l'encadrant :</label> <%= @tuteur_universitaire.statut_encadrant %>
    </div>
  </div>
</div>