<h1>Fiches de stage</h1>

<ul>
  <% @fichestage.each do |fichestage| %>
    <li>
      Fiche n°<%= fichestage.id %> - <%= link_to fichestage.titre, fiche_stage_path(fichestage) %>
    </li>
  <% end %>
</ul>

<% @fichestage_todo.each do |fstd| %>
  Fiche n°<%= fstd.id %> - <%= link_to fstd.titre, fiche_stages_validate_path(fstd) %>
<% end %>
<% @fichestage_draft.each do |fsd| %>
  <%= fsd.id %>
<% end %>

<br/><br/>
<%= link_to "Nouvelle fiche de stage", new_fiche_stage_path %>