<%= form_with model: formation do |f| %>
  <%= f.hidden_field :promotion_id, class: 'form-control', readonly: true %>

  <div class="mb-3">
    <%= f.label :mention, class: 'form-label' %><br>
    <%= f.select :mention, Formation.mentions.keys, {}, { class: 'form-select' } %>
  </div>

  <div class="mb-3">
    <%= f.label :libelle, class: 'form-label' %><br>
    <%= f.text_field :libelle, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :email, class: 'form-label' %><br>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :code_ue, 'Code UE', class: 'form-label' %><br>
    <%= f.text_field :code_ue, class: 'form-control' %>
  </div>

  <div class="d-flex justify-content-end">
    <%= link_to "Annuler", promotion_path, class: "btn btn-outline-primary me-2"%>
    <%= f.submit 'Enregister', class: 'btn btn-primary' %>
  </div>
<% end %>