<%= form_with model: @promotion do |f| %>

  <div class="d-flex justify-content-between">
    <h3>Promotion <%= @promotion.annee %></h3>

    <div>
      <% if @promotion.statut == 'OUVERTE' %>
        <% if @promotion.formations.present? %>
          <%= link_to "Clôturer", close_promotion_path(@promotion), class: "btn btn-danger me-2",
                      method: :put,
                      data: { confirm: "Etes-vous sûr de vouloir clôturer cette promotion ?" } %>
        <% else %>
          <%= link_to "Supprimer", promotion_path(@promotion), class: "btn btn-outline-danger",
                      method: :delete,
                      data: { confirm: "Etes-vous sûr de vouloir supprimer cette promotion ?" } %>
        <% end %>
      <% end %>
    </div>
  </div>


  <!--<div class="mb-3">
    <%= f.label :annee, class: 'form-label' %><br>
    <%= f.text_field :annee, class: 'form-control', readonly: true %>
  </div>-->


  <div class="d-flex justify-content-between">
    <h5 class="mb-0">Formations</h5>

    <div>
      <% if @promotion.statut == 'OUVERTE' %>
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#newFormationModal">
          <%= fa_icon "plus", class: 'me-1' %>
          Nouvelle formation
        </button>
      <% end %>
    </div>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">Mention</th>
      <th scope="col">Email</th>
      <th scope="col">Code UE</th>
      <th scope="col">Etudiants</th>
      <% if @promotion.OUVERTE? %>
        <th scope="col" style="width: 5rem"></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% @promotion.formations.order(:mention).each do |f| %>
      <tr>
        <th scope="row"><%= f.mention %></th>
        <td><%= f.email %></td>
        <td><%= f.code_ue %></td>
        <td><%= f.etudiants.count %></td>
        <% if @promotion.OUVERTE? %>
          <td class="align-middle text-end">
            <%= link_to edit_formation_path(f), remote: true, class: 'me-2',
                        data: { "bs-toggle": 'modal', "bs-target": '#editFormationModal' } do %>
              <% fa_icon "edit" %>
            <% end %>

            <%= link_to formation_path(f), method: :delete, class: 'me-2 text-danger',
                        data: { confirm: "Etes-vous sûr de vouloir supprimer cette formation ?" } do %>
              <% fa_icon "trash" %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div class="d-flex justify-content-end">
    <!--<%= link_to "Retour", promotions_path, class: "btn btn-outline-primary me-2" %>-->
    <!--<%= link_to "Modifier", edit_promotion_path(@promotion), class: "btn btn-primary" %>-->
  </div>
<% end %>




<!-- New Formation Modal -->
<div class="modal fade" id="newFormationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="newFormationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newFormationModalLabel">Nouvelle formation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "formations/form", formation: @formation %>
      </div>
    </div>
  </div>
</div>



<!-- Edit Formation Modal -->
<div class="modal fade" id="editFormationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editFormationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editFormationModalLabel">Modifier formation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body inner-import-edit">
      </div>
    </div>
  </div>
</div>